@model app.Controllers.mdField

<span ng-if="!row.IsEditing['@Model.name']">
    <i class="bi bi-pencil-square" ng-click="row.IsEditing['@Model.name']=true"></i>

    @if (Model.showUrl)
    {
        <a href="@Model.urlPrefix{{row.data['@Model.name']}}@Model.urlPostfix">{{ row.data['@Model.name'] }}</a>
    }
    else
    {
        <span>{{ row.data['@Model.name'] }}</span>
    }
</span>


<span ng-if="row.IsEditing['@Model.name']">
    <i class="bi bi-check-lg" ng-click="row.IsEditing['@Model.name']=false"></i>
    <input type=" text" ng-model="row.data.@Model.name" ng-change="dml.MarkRowDirty(row)">
</span>