<span ng-if="!row.IsEditing['@Model.Path']">
    <i class="bi-pencil-square" ng-click="dml.StartEditExtVoc(row, '@Model.Path', '@Model.extUrlGet', '@Model.extJsonPath', '@Model.extFieldID', '@Model.extFieldName')"></i>

    @if (Model.showUrl)
    {
        <a href="@Model.urlPrefix{{ row.data['@Model.Path'].id }}@Model.urlPostfix">{{ row.data['@Model.Path'].name }}</a>
    }
    else
    {
        <span>{{ row.data['@Model.name'].name }}</span>
    }

</span>


<span ng-if="row.IsEditing['@Model.Path']">
    <i class="bi bi-check-lg" ng-click="row.IsEditing['@Model.Path']=false"></i>
    <select ng-model="row.data.@Model.Path" ng-change="dml.MarkRowDirty(row)"
        ng-options="term as term.name for term in dml.ExtVoc['@Model.Path'] track by term.name">
    </select>
</span>