<span ng-if="!row.IsEditing['@Model.name']">
    <button ng-click="dml.StartEditExtVoc(row, '@Model.name', '@Model.extUrlGet', '@Model.extJsonPath', '@Model.extFieldID', '@Model.extFieldName')">EEE</button>

    @if (Model.showUrl)
    {
        <a href="@Model.urlPrefix{{ row.data['@Model.name'].id }}@Model.urlPostfix">{{ row.data['@Model.name'].name }}</a>
    }
    else
    {
        <span>{{ row.data['@Model.name'].name }}</span>
    }

</span>


<span ng-if="row.IsEditing['@Model.name']">
    <button ng-click="row.IsEditing['@Model.name']=false">V</button>
    <select ng-model="row.data.@Model.name" ng-change="row.dirty=true"
        ng-options="term as term.name for term in dml.ExtVoc['@Model.name'] track by term.name">
    </select>
</span>