<span ng-if="!row.IsEditing['@Model.name']">
    <i class="bi-pencil-square" ng-click="dml.StartEditExtVoc(row, '@Model.name', '@Model.dictId')"></i>

    @if (Model.showUrl)
    {
        <a href="@Model.urlPrefix{{ row.data['@Model.name'].id }}@Model.urlPostfix">{{ row.data['@Model.name'].name }}</a>
    }
    else
    {
        <span>{{ row.data['@Model.name'].name }}</span>
    }

</span>


<span ng-if="row.IsEditing['@Model.name']">
    <i class="bi bi-check-lg" ng-click="row.IsEditing['@Model.name']=false"></i>

    <select ng-model="row.data.@Model.name" ng-change="row.dirty=true"
        ng-options="term as term.name for term in dml.vocList['@Model.dictId'] track by term.name">
    </select>
</span>