@model app.Controllers.mdField

<span ng-if="!row.IsEditing['@Model.Path']">
    <i class="bi bi-pencil-square" ng-click="row.IsEditing['@Model.Path']=true"></i>

    @if (Model.showUrl)
    {
        <a href="@Model.urlPrefix{{row.data.@Model.Path}}@Model.urlPostfix">{{ row.data.@Model.Path }}</a>
    }
    else
    {
        <span>{{ row.data.@Model.Path }}</span>
    }
</span>


<span ng-if="row.IsEditing['@Model.Path']">
    <i class="bi bi-check-lg" ng-click="row.IsEditing['@Model.Path']=false"></i>
    <input type=" text" ng-model="row.data.@Model.Path" ng-change="dml.MarkRowDirty(row)">
</span>